.manageshops{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.card{
  height: 270px;
}
.card .meta-data{
  height: 70px;
  padding: 5px 15px;
  background-color: rgb(248, 246, 246);
  box-sizing: border-box;
}